<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service  name="RefWCF.StudentService"  >
         <endpoint address="" behaviorConfiguration="AjaxBehavior"
        binding="webHttpBinding" contract="RefWCF.IStudentService"  >
          <!--<identity>
            <dns value="localhost"/>
          </identity>-->
        </endpoint>
        <endpoint address="basic"
         binding="basicHttpBinding" contract="RefWCF.IStudentService"  > 
          <!--<identity>
            <dns value="locahost" />
          </identity>-->
          
        </endpoint>
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/RefWCF/StudentService/"/>

          </baseAddresses>
        </host>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      --><!--<wsHttpBinding>
        <binding name="wsHttpBinding">
          <security mode="Transport" />
        </binding>
      </wsHttpBinding>--><!--
      --><!--<mexHttpsBinding>
        <binding name="wsHttpBindings" />
      </mexHttpsBinding>--><!--
    </bindings>-->
    <!--<protocolMapping>
      <add scheme="http"     binding="wsHttpBinding" />
    </protocolMapping>-->
    <behaviors>
      <serviceBehaviors>
        <behavior >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>     
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <!--<enableWebScript />-->
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/EntityContainer.csdl|res://*/EntityContainer.ssdl|res://*/EntityContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=002324093C2A\SQLEXPRESS;initial catalog=Test;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
